.common-item {
	width: 90%;
	padding: 0 5%;
}

.common-area {
	background-color: $gray-color-3;
	border-radius: 4px;
	color: $gray-color-1;
	font-family: $font-exo-2;
	font-size: 14px;
	width: 95%;
	padding: 6px;
	padding-right: 4px;
	text-align: right;
	display: block;
}