.row-exp {
	@extend .row;
	padding: 10px 0px;
}

.exp-area {
	@extend .common-area;
}

.exp-item {
	@extend .common-item;
	text-align: left;
}

.exp-place {
	@extend .common-area;
	background-color: rgba(255,255,255,0);
}

.exp-descr {
	font: $font-edu-descr-text;
	color: $gray-color-1;
}