.row-exp {
	@extend .row;
	padding: 10px 0px;
}

.exp-area {
	@extend .common-area;
}

.exp-item {
	@extend .common-item;
	text-align: left;
}

.exp-place {
	@extend .common-area;
	background-color: rgba(255,255,255,0);
}

.exp-descr, .exp-descr > a {
	font: $font-edu-descr-text;
	color: $gray-color-1;
}

.exp-logo {
	width: 80px;
	height: auto;
	margin: 5px;
}

.exp-header {
	width: 100%;
	height: auto;
	background-color: $gray-color-3;
}

.exp-descr > a:hover {
	opacity: 0.7;
}
 
.exp-technologies {

}

.exp-position{
	@extend .exp-area;

	font-weight: bold;
}