$primary-background-color: #cccccc;
$content-background-color: #fff;

$headers-color: #23567D;
$color1: #3177AD;
$color2: #398AC9;
$color3: #275F8A;
$color4: #1C4463;
$color5: #174261;

// complementary colors
$color6: #C98011;

// grey colors
$gray-color-1: #444;
$gray-color-2: #D9D9D9;

$palette-width: 800px;
$row-width: 720px;

/* grid variables */
$grid-item-width: $row-width / 12;

/* links */
$default-hover-color: $color2;
$default-link-color: $color1;
/* links */

/* fonts */
$font-arial: 'Arial', sans-serif;
$font-exo-2: 'Exo 2', sans-serif;
$font-maven-pro: 'Maven Pro', sans-serif;
$font-open-sans: "Open Sans", Arial, sans-serif;
/* fonts */