$primary-background-color: #cccccc;
$content-background-color: #fff;

$headers-color: #23567D;
$color1: #3177AD;
$color2: #398AC9;
$color3: #275F8A;
$color4: #1C4463;

$palette-width: 800px;
$row-width: 720px;

/* grid variables */
$grid-item-width: $row-width / 12;